@media screen and(max-width:800px) {}

header {
    max-width: 100%;
    height: 5vh;
    background-color: rgb(174, 171, 230);
    padding: 10px;
}

img {
    width: auto;
    height: auto;
}

h3 {
    color: rgb(19, 17, 92);
    font-size: 2.5rem;
    padding-right: 100px;
}

body {
    max-width: 100%;
    height: auto;
    background-color: rgb(3, 11, 61);
}

.titulo {
    display: flex;
    justify-content: center;
}

.container {
    background-color: aqua;
    max-width: 90%;
    min-height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}
.cardencriptador .cardrespuesta{
    position: absolute;
    transform: translate(0,50%);
}
textarea{
    width: 100%;
    height: 85%;
}
